:root {
    --grid-cols: 1;
    --grid-rows: 1;
    }


body {
    background-color: rgb(220, 220, 180);
}



img {
    border-radius: 60%;
    height: 200px;
}

.title {
    color: white;
    background-color: black;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-radius: 5px;
    font-family: 'Nunito', sans-serif;
}

nav {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.gameSelection {
    display: flex;
    justify-content: center;
}

.dashboard {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: 'Nunito', sans-serif;
    
}

li {

    list-style-type: none;
}

#rpsBtn {
    border-radius: 1px;
    height: 85px;
    width: 110px;
    font-size: 26px;
    background-color: yellow;
}

#sketchBtn {
    display: flex;
    justify-content: center;
    background-image: url('http://www.emofaces.com/en/smilies/e/etch-a-sketch-smile.gif');
    background-repeat: no-repeat;
    height: 85px;
    width: 110px;
    
}

#millionareBtn {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1UuQOAhwlcJVIl4mtOqMU2Uh2sNlVlrpNrg&usqp=CAU');
    background-repeat: no-repeat;
    background-size: contain;
    height: 85px;
    width: 110px;
    
}



.randomButton {
    background-color: red;
    color: white;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 100%;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    
}

.randomButton:hover {
    padding-top: 20px;
    padding-right: 25px;
    padding-bottom: 20px;
    padding-left: 25px;
}


.heading {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 10px solid black;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIVWoHYgCO8Xw_k1fGOUtNHCu-4etuXLBZpA&usqp=CAU);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    padding-bottom: 20px;
}


.rpsGame-hidden {
    display: none;
}


#rpsGame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.rpsResult {
    text-align: center;
}


/* this is the sketch game CSS */

.sketchLogo {
    text-align: center;
    color: gold;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 50px;
}


#container {
    text-align: center;
    background-color: whitesmoke;
    color: whitesmoke;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    border: 100px solid red;
    border-radius: 10px;
    margin-top: -165px;
    margin-bottom: -115px;

}

.sketchControllers {
    display: flex;
    justify-content: space-between;
}

.sketchKnob {
    padding: 50px;
    border-radius: 100%;
}



.grid-items {
    color: yellow;
    background-color: grey;
    
}

.sketchHeader {
    text-align: center;
}




/* This is the millionare game CSS */
#millionareGame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 220, 180);
    color: white;
    margin-top: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

#millionareGame h2 {
    color: yellow;
}


#millionareGame form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding-bottom: 150px;
    padding-left: 20px;
    padding-right: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.calcRow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.calcEntry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
}

.calcInput {
    border: 1px solid green;
    background-color: black;
    color: green;
}


.calcBtn {
    margin-left: 10px;
    padding: 8px;
    align-items: center;
    background-color: rgb(40, 80, 166);
    color: white;

}

#futureValue {
    
    padding-left: 160px;
    padding-top: 50px;
    padding-right: 160px;
    padding-bottom: 50px;
    background-color: orange;
    color: white;
    margin-bottom: 100px;
}

#calcAnswer {
    display:flex;
    justify-content: center;
    border: 10px solid lightgray;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgb(130, 140, 130);
    margin-bottom: 50px;
    font-size: 20px;
    min-height: 50px;
    min-width: 120px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
}

.calcText {
    color: white;
}



